/* Estructura general */
.estructura_general {
  width: 100%;
  position: relative;
  background-color: var(--color-darkslategray-100);
  height: 708px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
  z-index: 1;
}

/* Top-Bottom Bars */
.rectangulo_arriba,
.rectangulo_abajo {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-mistyrose);
  width: 360px;
  height: 81px;
}
.rectangulo_abajo {
  top: 629px;
  background-color: var(--color-pink-100);
}

.sesion-estudio {
  position: absolute;
  top: 9px;
  left: 94px;
  font-weight: 600;
}
.fondo_atras,
.fondo_microfono,
.fondo_play,
.fondo_plus,
.fondo_interrogacion {
  position: absolute;
  top: 13px;
  left: 13px;
  border-radius: 50%;
  background-color: var(--color-rosybrown);
  width: 55px;
  height: 55px;
}
.fondo_atras,
.fondo_microfono,
.fondo_play,
.fondo_plus {
  left: 292px;
}
.fondo_microfono,
.fondo_play,
.fondo_plus {
  top: 642px;
  left: 13px;
}
.fondo_play,
.fondo_plus {
  left: 153px;
}
.fondo_plus {
  left: 292px;
}
.icono_atras,
.icono_interrogacion {
  position: absolute;
  top: 18px;
  left: 18px;
  width: 45px;
  height: 45px;
  object-fit: cover;
  z-index:3;
}
.icono_atras {
  top: 23px;
  left: 297px;
  height: 34.5px;
}
.icono_microfono,
.icono_play,
.icono_plus {
  position: absolute;
  top: 650px;
  left: 20px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.icono_play,
.icono_plus {
  top: 650px;
  left: 166px;
  width: 35px;
  height: 41.5px;
}
.icono_plus {
  top: 650px;
  left: 302px;
  height: 35px;
}

.fondo_bibliotecas {
  position: absolute;
  top: 44px;
  left: 110px;
  border-radius: var(--br-11xl);
  background-color: var(--color-pink-200);
  width: 137px;
  height: 27px;
}

.bibliotecas {
  top: 48px;
  left: 135px;
  font-size: var(--font-size-base);
}

.asignaturas {
  position: absolute;
  top: 61px;
  height: 547px;
  width: 100%;
  left: 0px;
  font-weight: 600;
  z-index: 2;
}

ul{
  padding:20px;
}

li {
  border-radius: var(--br-6xl);
  background-color: var(--color-pink-200);
  display: flex;
  align-items: center;
  width: 75%;
  height: 83px;
  z-index: 2;
  list-style-type: none;
  border-radius: var(--br-6xl);
  margin: 10px;
  padding: 15px;
}

li .tiempo {
  position: relative;
  width: 30%;
  display:flex;
  align-items: center;
  height: 100%;
  float: right;
  margin-left: 40%;
  padding-right: 10%;
  padding-left: 45px;
  border-radius: var(--br-6xl);
  background-color: var(--color-lavenderblush);
  z-index: 3;
}

.bibliotecas {
  position: absolute;
  z-index: 2;
}
