.rectangulo_arriba {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-mistyrose);
  width: 360px;
  height: 81px;
}
.tiempo-estudio {
  position: absolute;
  top: 9px;
  left: 92px;
  font-weight: 600;
}
.fondo_check,
.fondo_atras,
.fondo_interrogacion {
  position: absolute;
  top: 13px;
  left: 13px;
  border-radius: 50%;
  background-color: var(--color-rosybrown);
  width: 55px;
  height: 55px;
}
.fondo_check,
.fondo_atras {
  left: 292px;
}
.fondo_check {
  top: 649px;
  left: 135px;
  width: 90px;
  height: 90px;
}
.icono_atras {
  margin-top: 9px;
  margin-left: 6px;
  height: 32px;
  object-fit: cover;
}
.cuadrado_texto {
  position: absolute;
  top: 187px;
  left: 37px;
  border-radius: var(--br-6xl);
  background-color: var(--color-pink-100);
  width: 287px;
  height: 236px;
}
.introduzca-el {
  margin: 0;
}
.introduzca-el-tiempo-container {
  position: absolute;
  top: 233px;
  left: calc(50% - 126px);
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.time-picker {
  display: flex;
  align-items: center;
}

.time-picker select {
  margin-top: 50px;
  padding: 12px; /* Aumento del tamaño del padding para hacer los selectores más grandes */
  margin-right: 10px; /* Espacio entre los selectores */
  border-radius: 10px; /* Aumento del radio de las esquinas */
  border: 1px solid #ccc; /* Borde para definir la apariencia */
  font-size: 16px; /* Aumento del tamaño del texto */
}

span {
  margin-top: 50px;
  margin-right:13px ;
}

.time-picker select:last-child {
  margin-right: 0;
}

.time-picker select:focus {
  outline: none;
}

.time-picker-wrapper {
  position: absolute;
  top: 423px;
  left: 77px;
  width: 200px;
  height: 249px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-size: var(--font-size-17xl);
  color: var(--text-inactive);
  font-family: var(--small-size-body-regular);
}
.icono_check {
  margin-top: 17px;
  margin-left: 20px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.icono_interrogacion {
  margin-top: 7px;
  margin-left: 6px;
  width: 40px;
  height: 40px;
}
.rectangulo_bibliotecas {
  position: absolute;
  top: 41px;
  left: 112px;
  border-radius: var(--br-11xl);
  background-color: var(--color-pink-200);
  width: 137px;
  height: 27px;
}
.bibliotecas1 {
  margin-left: 22px;
  top: 45px;
  left: 137px;
  font-size: var(--font-size-base);
}
.estructura_general {
  width: 100%;
  position: relative;
  background-color: var(--color-darkslategray-100);
  height: 800px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
